<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >

  <test name="Regression1">
    <classes>
      <class name="tests.MyTest"/>
      <!--<class name="tests.PersonTest"/>-->
      <!--<class name="tests.HelloWorldHellen"/>-->
    </classes>
  </test>
</suite>
